/* ----------------------------------------------------------------------------
			COLOR VARIABLES 
---------------------------------------------------------------------------- */
$fontcolor: #FFF;		
$shadowcolor: #666;
$homebgc: #FFB3BB;
$instabgc: #D1837B;
$mapbgc: #FED19B;