/* ----------------------------------------------------------------------------
			COLOR VARIABLES 
---------------------------------------------------------------------------- */
$fontcolor: #FFF;
// $fontcolor: #FA8072;			
$shadowcolor: #666;
$homebgc: #FFB3BB;
$instabgc: #D1837B; //FFC0CB
$mapbgc: #FED19B; //FFE4C4