/* ----------------------------------------------------------------------------
			COLOR VARIABLES 
---------------------------------------------------------------------------- */
$linkcolor: #FFF;
$fontcolor: #FA8072;			
$shadowcolor: #666;
$homebgc: #FFB3BB;
$instabgc: #FFC0CB;
$mapbgc: #FFE4C4;