/*------------------------------------------------------------------------------
                           FLEXBOX MIXIN
------------------------------------------------------------------------------*/
@mixin flexbox($display, $directionWrap, $justify-content, $align-items) {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: $display;
   
    -webkit-flex-flow: $directionWrap;
    flex-flow: $directionWrap;

    -webkit-justify-content: $justify-content;
	justify-content: $justify-content;

    -webkit-align-items: $align-items;
	align-items: $align-items;
}

/*------------------------------------------------------------------------------
                        LINEAR-GRADIENT MIXIN
------------------------------------------------------------------------------*/
@mixin linear-gradient($degrees, $color1, $color2, $color3) {
    background: -webkit-linear-gradient($degrees, $color1, $color2, $color3); /* For Safari */
    background: -o-linear-gradient($degrees, $color1, $color2, $color3); /* For Opera */
    background: -moz-linear-gradient($degrees, $color1, $color2, $color3); /* For Firefox */
    background: linear-gradient($degrees, $color1, $color2, $color3); /* Standard syntax */
}

/*------------------------------------------------------------------------------
                        ANIMATION MIXIN
------------------------------------------------------------------------------*/
@mixin bg-animation($str){
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
    animation: #{$str};      
}   

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} { @content; }
    @-moz-keyframes #{$animationName} { @content; }
    @-o-keyframes #{$animationName} { @content; }
    @keyframes #{$animationName} { @content; }
}