/* ----------------------------------------------------------------------------
			MOBILE VIEW
---------------------------------------------------------------------------- */
* {
	margin: 0 auto;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	height: 200vh;
}

#main-page {
	display: none;
}

.load-page {
	background-color: #FFF;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	text-align: center;

	.txt {
		padding-top: 65%;
		color: salmon;
	}
}

/* ----------------------------------------------------------------------------
			HEADER & NAVBAR
---------------------------------------------------------------------------- */
header {
	width: 100%;
	z-index: 1;
	position: fixed;
	// background-color: rgba(255, 255, 255, 0.5);
	height: 50px;
	display: inline-flex;

	.home {
		width: 200px;
		float: left;
		margin: 20px;
		z-index: 50;
	}

	.header {
		display: inline-flex;

		h2 {
			margin-top: 20px;
			z-index: 10;
			font-size: 1.1em;
			padding-left: 10%;
			float: right;
			margin-right: 0;
		}
	}
}

/* ----------------------------------------------------------------------------
			ALL PAGES
---------------------------------------------------------------------------- */
.page {
	width: 100%;
	text-align: center;
}

/* ----------------------------------------------------------------------------
			FIRST PAGE
---------------------------------------------------------------------------- */
.home-page {
	background-color: #fffab3; //lemonchiffon
	color: #fff780;
	position: relative;
	height: 100vh;
}

.svg-cat {
	width: 100%;
   	padding-top: 25vh;
}

.svg-bubble {
	width: 40%;
	position: absolute;
	top: 10%;
	left: 8%;
}

/* ----------------------------------------------------------------------------
			INSTAGRAM PAGE
---------------------------------------------------------------------------- */
.insta-page {
	background-color: #f2f2f2; 
	color: #ffa680;
}

.img-container {
	@include flexbox(flex, row wrap, flex-start, center);
	height: initial;

	img {
		width:50%;
	}
}

/* ----------------------------------------------------------------------------
			MAP PAGE
---------------------------------------------------------------------------- */
.contact-page {
	background-color: bisque;
	color: #ffd199;
	padding-top: 25%;
	height: 100vh;
}

.map {
	position: relative;
	top: 10%;
	height: 80vh;
	width: 90%;
	overflow: hidden;
}

/* ----------------------------------------------------------------------------
			AUDIO
---------------------------------------------------------------------------- */
#show-btn {
	display: none;
}

.audio-btn {
	position: fixed;
	top: 10px;
	left:10px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	text-decoration: none;
	font-size: 1.6em;
	background: none;
	cursor: pointer;
	border: 2px solid black;
	outline: none;
	z-index:100;
}

