/* ----------------------------------------------------------------------------
			MOBILE VIEW
---------------------------------------------------------------------------- */
* {
	margin: 0 auto;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	//height: 100vh;
}

#main-page {
	display: none;
}

.intro-page {
	background: linear-gradient(to right,  rgb(255, 204, 204), rgb(255, 204, 255));
	width: 100%;
	height: 100vh;
	text-align: center;
	overflow: hidden;

	.intro-txt {
		padding-top: 10%;
		color: salmon;
	}

	.cat-logotype {
		width: 35%;
		height: 20%;
	}
}

/* ----------------------------------------------------------------------------
			HEADER & NAVBAR
---------------------------------------------------------------------------- */
header {
	width: 100%;
	z-index: 1;
	position: fixed;
	height: 70px;
	@include flexbox(flex, row nowrap, space-between, center);

	a.home {
		border-bottom: none;
	}

	.home {
		width: 60%;
		box-sizing: border-box;
		padding-left: 5%;
		text-decoration: none;
		color: #FFF;
		font-size: 1.8em;
		text-shadow: 2px 2px 4px #666;
	}

	.header {
		width: 40%;
		@include flexbox(flex, row wrap, center, center);
		margin: 0;

		.fa {
			font-size: 2.4em;
			color: #FFF;
			text-shadow: 2px 2px 4px #666;
		}
	}
}

a {
	border-bottom: 2px solid rgba(255,255,255, 0);
	transition: 600ms all;
	padding-bottom: 6px;
}

a:hover {
	border-bottom: 2px solid rgba(255,255,255, 1);
}

/* ----------------------------------------------------------------------------
			ALL PAGES
---------------------------------------------------------------------------- */
.pages {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

/* ----------------------------------------------------------------------------
			HOME PAGE
---------------------------------------------------------------------------- */
.home-page {
	// background-color: #fffab3; //lemonchiffon
	background: linear-gradient(to right,  rgb(255, 179, 179), rgb(255, 179, 255)); //test
	color: #fff780;
	//position: relative;
	height: 100vh;
	max-height: 100vh;
}

.svg-cat {
	width: 100%;
	padding-top: 43%;
	height: 75vh;
	max-height: 75vh;
	cursor: pointer;
	box-sizing: border-box;
}

.svg-bubble {
	width: 40%;
	position: absolute;
	top: 10%;
	left: 8%;
	opacity: 0;
}

// funkar inte, linjerna syns inte alls genom animationen
#highfive-lines, #semi-closed, #eyes-closed {
	opacity: 0;
}

/* ----------------------------------------------------------------------------
			INSTAGRAM PAGE
---------------------------------------------------------------------------- */
.insta-page {
	background-color: #f2f2f2; 
	color: #ffa680;
	min-height: 100vh;
}

.img-container {
	@include flexbox(flex, row wrap, flex-start, center);
	height: initial;

	img {
		width:50%;
	}
}

/* ----------------------------------------------------------------------------
			MAP PAGE
---------------------------------------------------------------------------- */
.map-page {
	background-color: bisque;
	color: salmon;
	padding-top: 25%;
	min-height: 100vh;
}

.the-map {
	position: relative;
	top: 10%;
	height: 70vh;
	width: 90%;
	overflow: hidden;
}

/* ----------------------------------------------------------------------------
			AUDIO
---------------------------------------------------------------------------- */
.audio-btn {
	margin-top: -6px;
}
