/* ----------------------------------------------------------------------------
			MOBILE VIEW
---------------------------------------------------------------------------- */
* {
	margin: 0 auto;
}

body {
	font-family: 'Josefin Sans', sans-serif;
	height: 200vh;
}

main {
	//display: none;
}

/* ----------------------------------------------------------------------------
			HEADER & NAVBAR
---------------------------------------------------------------------------- */
.header {
	width: 100%;
	z-index: 1;
	position: fixed;
	display: inline-flex;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.5);

	h2 {
		margin-top: 20px;
		z-index: 10;
		font-size: 1.1em;
	}
}

/* ----------------------------------------------------------------------------
			ALL PAGES
---------------------------------------------------------------------------- */
.page {
	width: 100%;
	height: 100vh;
	text-align: center;

	h3 {
		padding-top: 60%;
		font-size: 2.6em;
	}
}

/* ----------------------------------------------------------------------------
			FIRST PAGE
---------------------------------------------------------------------------- */
.home-page {
	background-color: #fffab3; //lemonchiffon
	color: #fff780;
}

.svg-cat {
	width: 50%;
   	padding-top: 18vh;
}

/* ----------------------------------------------------------------------------
			INSTAGRAM PAGE
---------------------------------------------------------------------------- */
.insta-page {
	background-color: #ffb899; //ljusare salmon
	height: initial;
	color: #ffa680;
}

.img-container {
	@include flexbox(flex, column nowrap, flex-start, center);
	padding-top: 20%;

	img {
		width:100%;
	}
}

/* ----------------------------------------------------------------------------
			CONTACT PAGE
---------------------------------------------------------------------------- */
.contact-page {
	background-color: bisque;
	color: #ffd199;
}