/* ----------------------------------------------------------------------------
			LANSCAPE MOBILE MODE
---------------------------------------------------------------------------- */
.svg-cat {
	width: 50%;
	padding-top: 10%;
}

.svg-bubble {
	width: 25%;
	top: 20%;
}

.intro-page {
	.intro-txt {
		padding-top: 10%;
	}

	.cat-logotype {
		width: 50%;
		height: 20%;
	}	
}

.insta-page, .map-page  {
	padding-top: 6%;
}
