/* ----------------------------------------------------------------------------
			TABLET VIEW
---------------------------------------------------------------------------- */
.header {
	height: 80px;

	h2 {
		font-size: 1.6em;
	}
}
/* ----------------------------------------------------------------------------
			INSTAGRAM PAGE
---------------------------------------------------------------------------- */
.img-container {
	@include flexbox(flex, row wrap, flex-start, center);

	img {
		width:33.3%;
	}
}