/* ----------------------------------------------------------------------------
			LANSCAPE MOBILE MODE
---------------------------------------------------------------------------- */
.intro-txt {
		padding-top: 5%;//10%;
}

.cat-logotype {
		width: 25%;
		height: 20%;
}	

.svg-cat {
	width: 50%;
	padding-top: 10%;
}

.svg-bubble {
	width: 25%;
	top: 20%;
}

